<launch>

<arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>
  
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find openbot_v1_description)/urdf/openbot_v1.xacro'" />
  <param name="box_description_2" command="$(find xacro)/xacro --inorder '$(find openbot_v1_description)/urdf/box_2.xacro'" />
  <param name="box_description" command="$(find xacro)/xacro --inorder '$(find openbot_v1_description)/urdf/box.xacro'" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model openbot_v1 -x 0 -y 0 -z 0 -Y 3.14" />/>
  <node name="spawn_object" pkg="gazebo_ros" type="spawn_model" args="-param box_description -urdf -model box -x 0 -y 0 -z 0 " />/>
  <node name="spawn_object_2" pkg="gazebo_ros" type="spawn_model" args="-param box_description_2 -urdf -model box_2 -x 0 -y 0 -z 0 " />/>
  
  
  
</launch>
