<?xml version="1.0" ?>
<robot name="box" xmlns:xacro="http://www.ros.org/wiki/xacro">

<link name="base_box_link">
</link>

<link name="box_link">
  <inertial>
    <origin rpy="0 0 0" xyz="0.19 -0.03 0.015"/>
    <mass value="0.2"/>
    <inertia ixx="2.99e-5" ixy="0" ixz="0" iyy="2.99e-5" iyz="0" izz="2.99e-5"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0 " xyz="0.19 -0.03 0.015"/>
    <geometry>
      <box size="0.03 0.03 0.03"/>
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.19 -0.03 0.015"/>
    <geometry>
      <box size="0.03 0.03 0.03"/>
    </geometry>
  </collision>
</link>
<xacro:property name="body_color" value="Gazebo/Black" />

<gazebo>
  <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
    <frameName>map</frameName>
    <bodyName>base_box_link</bodyName>
    <topicName>box_topic</topicName>
    <updateRate>30.0</updateRate>
  </plugin>
</gazebo>


<gazebo reference="object_base_link">
  <material>${body_color}</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <selfCollide>true</selfCollide>
  <gravity>true</gravity>
</gazebo>

<material name="black">
  <color rgba="0.0 0.0 0.0 1.000"/>
</material>

<joint name="clamp1_clamp2_joint" type="fixed">
  <origin rpy="0 0 0" xyz="0 0 0"/>
  <parent link="base_box_link"/>
  <child link="box_link"/>
  <axis xyz="0 0 0"/>
</joint>

</robot>
